{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/x-icon" href="{% static 'aberto.gif' %}">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <title>Login - Exército Turco ©</title>
    <style>
        .bg-login {
            background-color: #6b0b0a;
            opacity: 1;
            background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #6b0b0a 40px ), repeating-linear-gradient( #93110e55, #93110e );
          }
        .pixel-img {
            image-rendering: pixelated;
            image-rendering: -o-crisp-edges;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
        }
        .bg-pt {
            background-color: #93110e;
        }
    </style>
</head>
<body class="bg-login">
    <div class="container">
        <div class="col-md-12 d-flex justify-content-center align-items-center" style="height: 100vh;">
            <div class="card col-md-4 col-10 p-2">
                <img class="pixel-img m-auto mt-2" width="100px" src="{% static 'aberto.gif' %}" alt="">
              <h2 class="text-center">Exército Turco</h2>
              <p class="text-center">Altere sua senha.</p>
              <form class="col-12 col-md-10 m-auto mt-2" method="post">
                {% csrf_token %}
                {% if form.errors %}
                    <ul class="errorlist">
                    {% for field_errors in form.errors.values %}
                        {% for error in field_errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                {% endif %}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class='bx bx-user' ></i></span>
                    {{form.username}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class='bx bx-key' ></i></span>
                    {{form.password}}
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1"><i class='bx bx-key' ></i></span>
                    {{form.confirm_password}}
                </div>
                <div class="d-flex justify-content-center">
                {{form.captcha}}
            </div>
            <div class="textfield suporte">
                <p class="m-1">Adicione o código a sua missão:
                </p>
            </div>
            <div class="d-flex justify-content-center">
                <input type="text" class="form-control text-center" value="{{ codigo_aleatorio }}" disabled>
              </div>
            <button type="submit" class=" mt-3 mb-3 btn bg-pt btn-dark border-0 text-light btn-lg col-12">Salvar</button>
              </form>
            </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>