{% extends "BasePainel.html" %}
{% load static %}

{% block main %}
<div class="container mt-3 m-auto">
   <div class="row">
    <div class="col-md-7 col-11 m-auto order-2 order-md-1">
        <div class="container d-flex mb-3">
            <div>
                <img src="{% static 'loja.png'%}" alt="">
            </div>
        <div class="ms-2">
        <h3>Editar Emblemas</h3>
    </div>
    </div>
    <div class="row">
        {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-secondary text-center">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    {% if emblemas %}
    {% for emblema in emblemas %}
    <div class="card col-12 col-md-5 mb-3 m-auto">
        <img src="{{ emblema.icone.url }}" class="m-auto mt-2 px" width="80px" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">{{ emblema.titulo }}</h5>
        <div class="text-center">
            <div class=" d-flex mb-1 justify-content-center">
            <div class="text-center">
                <h5>{{ emblema.moedas }}</h5>
            </div>
            <div>
                <img src="{% static 'moedaloja.png'%}" alt="">
            </div>
    </div>
</div>
<div class='d-flex justify-content-center'>
    <a class='btn btn-dark' href='{% url "EditarEmblema" emblema.pk %}'>Editar</a>
        </div>
    </div>
      </div>
        {% endfor %}
        {% else %}
    <div class="alert alert-secondary mx-auto text-center mt-3" role="alert">
        Sem resultado para a busca!
      </div>   
      {% endif %}
    </div>
   </div>
   <div class="col-md-5 col-11 mb-2 order-1 m-auto m-md-0 order-md-2">
    <div class="container mb-3 d-flex mt-0 mt-md-4"> 
        <div>
          <img class="px" src="{% static 'destaque.png'%}" alt="">
          </div>
        <div class="ms-2">
        <h3>Informações</h3>
        </div>
      </div>
      <form class="input-group mt-3" method="get">
        <input class='form-control' type="text" name="q" placeholder="Pesquisar por titulo">
        <button class=" btn text-light" style="background:#202020;" type=" submit">
            <i class='icon'>
                <img width="35px" src="{% static "lupa.gif" %}" alt="">
              </i></button>
    </form>
      <a class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none bg-al" href="">
        <div class="d-flex">
            <div class="col-4 mt-2 mb-2">
                <div class="rounded-circle m-auto px" style="background: url({% static 'destaque.png'%}) center center no-repeat; width: 60px; height: 60px;">	
                </div> 
            </div>
            <div class="text-light col-8">
                <h5 class="text-center mt-2 mt-md-4 me-5">Total de emblemas: <span class="badge text-bg-secondary">{{total}}</span>
                </h5>
            </div>
        </div>
    </a>
   </div>
</div>
</div>
{% endblock main %}