{% extends "BasePainel.html" %}
{% load static %}
{% block main %}

<div class="container text-light m-auto mt-3"> 
    <div class="row">
    <div class="col-12 col-md-7 order-2 order-md-1">
    <div class="container mb-2 d-flex">
        <div>
            <img src="{% static 'oficiais.gif' %}" alt="">
        </div>
    <div class="ms-2">
    <h3>Militares</h3>
    <p>Atenção ao realizar alguma alteração.
    </p>
</div>
</div>
{% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-danger text-center ">{{ message }}</div>
        {% endfor %}
{% endif %}
{% if militares %}
{% for militar in militares %}
            <div class="card mb-3 m-auto shadow col-11 text-light" style="background-color: #93110e;">
                <div class="row mb-3 g-0">
                  <div class="col-md-4 text-center" >
                    <img class="mb-auto" src="https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=png&user={{ militar.username}}&direction=2&head_direction=2&size=l&action=std" class="img-fluid rounded-start" alt="...">
                  </div>
                  <div class="col-md-8">
                    <div class="card-body mt-3">
                    <p class="card-text"><strong> Militar: </strong>{{militar.patente}}, {{militar.username}}</p>
                    <p class="card-text"><strong> Data da última promoção: </strong>{{militar.data}}</p>
                    <p class="card-text"><strong> Responsável: </strong>{{militar.responsavel_promocao}}</p>
                    <p class="card-text"><strong> Status: </strong>{{militar.status}}</p>
                    <hr>
                      <div class="row">
                        
                        <form class='col-4' method="post" action="{% url 'PromoverMilitar' militar.id %}">
                            {% csrf_token %}
                            <button class='m-1 btn btn-sm btn-success' type="submit">Promover</button>
                        </form>
                                <form class='col-4' action="{% url 'RebaixarMilitar' militar.id %}" method="post">
                                    {% csrf_token %}
                                    <button class='m-1 btn btn-sm btn-danger' type="submit">Rebaixar</button>
                                </form>
                                <form class='col-4' action="{% url 'DemitirMilitar' militar.id %}" method="post">
                                    {% csrf_token %}
                                    <button type="submit" class="m-1 btn btn-danger btn-sm">Demitir</button>
                                  </form>
                                  <form class='col-4' action="{% url 'ResetarSenha' militar.id %}" method="post">
                                    {% csrf_token %}
                                    <button class='m-1 btn btn-sm btn-secondary' type="submit">Painel</button>
                                </form>
                                {% if AC %}
                                <form class='col-4' action="{% url 'AlterarStatus' militar.id 'Aposentado' %}" method="post">
                                    {% csrf_token %}
                                    <button class='m-1 btn btn-sm btn-secondary' type="submit">Aposentar</button>
                                </form>
                                {% endif %}
                                </div>
                </div>
                    </div>
                    </div>
                    </div>
            {% endfor %}
            {% else %}
    <div class="alert alert-secondary mx-auto text-center mt-3" role="alert">
        Sem resultado para a busca!
      </div>   
      {% endif %}
</div>
<div class="col-md-5 col-11 order-1 order-md-2">
    <div class="container mb-3 d-flex mt-4"> 
        <div>
          <img class="px" src="{% static 'lupa.gif'%}" alt="">
          </div>
        <div class="ms-2">
        <h3>Informações</h3>
        </div>
      </div>
      <form class="input-group mt-3" method="get">
        <input class='form-control' type="text" name="q" placeholder="Pesquisar por nickname">
        <button class=" btn text-light" style="background:#93110e;" type=" submit">
            <i class='icon'>
                <img width="35px" src="{% static "lupa.gif" %}" alt="">
              </i></button>
    </form>
        </div>
</div>
</div>

{% endblock main %}