{% extends "BasePainel.html" %}
{% load static %}

{% block main %}
<div class="container mt-3 m-auto text-light">
   <div class="row">
    <div class="col-md-7 col-11 m-auto order-2 order-md-1">
        <div class="container d-flex mb-3">
            <div>
                <img src="{% static 'loja.png'%}" alt="">
            </div>
        <div class="ms-2">
        <h3>Loja de Moedas</h3>
        <p>Faça o saque de suas moedas!</p>
    </div>
    </div>
    <div class="row">
        {% if messages %}
    <ul>
        {% for message in messages %}
        <div class="alert alert-secondary text-center">{{ message }}</div>
        {% endfor %}
    </ul>
    {% endif %}
    {% for moedaloja in moedasvalor %}
    <div class="card col-12 col-md-5 mb-3 m-auto bg-br text-light">
        <img src="{{ moedaloja.icone.url }}" class="m-auto mt-2 px" width="80px" alt="...">
        <div class="card-body">
          <h5 class="card-title text-center">{{ moedaloja.titulo }}</h5>
        <div class="text-center">
            <div class=" d-flex mb-1 justify-content-center">
            <div class="text-center">
                <h5>{{ moedaloja.moedas }}</h5>
            </div>
            <div>
                <img src="{% static 'moedaloja.png'%}" alt="">
            </div>
    </div>
</div>
<div class="d-flex justify-content-center">
    <form action="{% url 'SaqueMoedas' moedaloja.id %}" class="justify-content-center d-flex" method="post">
        {% csrf_token %}
        <button class="btn btn-sm" style='background:silver;' type="submit">Comprar</button>
    </form>
</div>
    </div>
   </div>
   {% endfor %}
</div>
</div>
   <div class="col-md-5 col-11 mb-2 order-1 m-auto m-md-0 order-md-2">
    <div class="container mb-3 d-flex mt-0 mt-md-4"> 
        <div>
          <img class="px" src="{% static 'moedas.png'%}" alt="">
          </div>
        <div class="ms-2">
        <h3>Informações</h3>
        </div>
      </div>
      <a class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none bg-br" href="">
        <div class="d-flex">
            <div class="col-4 mt-2 mb-2">
                <div class="rounded-circle m-auto px" style="background: url({% static 'moedas.png'%}) center center no-repeat; width: 60px; height: 60px;">	
                </div> 
            </div>
            <div class="text-light col-8">
                <h5 class="text-center mt-2 mt-md-4 me-5">Minhas moedas: <span class="badge text-bg-secondary">{{request.user.moedas}}</span>
                </h5>
            </div>
        </div>
    </a>
   </div>
</div>
</div>
{% endblock main %}