{% extends "BasePainel.html" %}
{% load static %}

{% block main %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        var dias = {{ dias_falta }};
        var horas = {{ horas_falta }};
        var minutos = {{ minutos_falta }};
        var segundos = {{ segundos_falta }};

        function atualizarTempo() {
            // Atualizar os elementos do DOM
            document.getElementById('dias').textContent = dias;
            document.getElementById('horas').textContent = horas;
            document.getElementById('minutos').textContent = minutos;
            document.getElementById('segundos').textContent = segundos;

            // Subtrair um segundo do tempo restante
            if (segundos > 0) {
                segundos--;
            } else {
                if (minutos > 0) {
                    minutos--;
                    segundos = 59;
                } else {
                    if (horas > 0) {
                        horas--;
                        minutos = 59;
                        segundos = 59;
                    } else {
                        if (dias > 0) {
                            dias--;
                            horas = 23;
                            minutos = 59;
                            segundos = 59;
                        }
                    }
                }
            }
            // Atualizar a cada segundo
            setTimeout(atualizarTempo, 1000);
        }

        atualizarTempo();
    });
</script>
<div class="container mt-3 m-auto mb-3 text-light">
<div class='row'>
  <div class="mt-3 m-auto col-11 col-md-7 order-2 order-md-1">
    <div class="container d-flex mb-3">
      <div>
          <img src="{% static 'monitores.gif'%}" alt="">
      </div>
  <div class="ms-2">
  <h3>Monitores</h3>
  <p>Todas as Ações
  </p>
</div>
</div>
    {% if relatorios %}
    {% for relatorio in relatorios %}
        <a class="card m-1 p-3 text-light text-decoration-none mb-3" style="background-color: #2C4C00;" data-bs-toggle="collapse" href="#{{relatorio.pk}}" role="button" aria-expanded="false" aria-controls="{{relatorio.pk}}">
            <div class="d-flex">
                <div class="col-2 mt-md-3 mt-5 mb-2">
                    <div class="rounded-circle m-auto px" style="background: url({% static 'auxilios.png'%}) center center no-repeat; width: 40px; height: 40px;transform: scale(2.0);">	
                    </div> 
                </div>
                <div class="col-8">
                    <div class="container text-light">
                        <h5>{{relatorio.treinamento}}</h5>
                        <p>{{relatorio.treinador_nick}} - {{relatorio.data}}</p>
                      </div>
                </div>
            </div>
        </a>
      <div class="collapse" id="{{relatorio.pk}}">
        <div class="card card-body text-dark">
          <strong>Patente treinados:</strong> {{relatorio.patente_treinado}} <br>
          <strong>Treinados:</strong> {{relatorio.treinados}} <br>
        </div>
      </div>
      {% endfor %}
      {% else %}
      <div class="alert alert-success mx-auto text-center mt-3" role="alert">
        Nenhuma ação registrada!
      </div>
      {% endif %}
    </div>
  <div class='col-11 col-md-5 order-1 order-md-2 mx-auto'> 
    <div class="container d-flex mt-4"> 
        <div>
          <img class="px" src="{% static 'emblema.png'%}" width="26px" height="41px" alt="">
          </div>
        <div class="ms-2">
        <h3>Destaque</h3>
        </div>
      </div>
      <div class="card col-12 col-md-12 shadow bg-br m-auto mt-1">
        <div class="d-flex m-1">
        <div class="card mt-2 mb-2 shadow ms-3 bg-br bg-opacity-50 bg-la">
            <div class="rounded-circle m-auto" style="background: url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=png&user={{destaque.militar.username}}&direction=2&head_direction=2&size=l&headonly=1) center center no-repeat; width: 80px; height: 80px;">	
            </div>                
        </div>
        <div class="text-light text-center m-auto">
            <strong><p class="text-center mt-2" style="font-size:20px;">Monitor Destaque</p></strong>
        <strong><p class="text-center" style="position: relative; top: -10px; font-size:15px;">{{destaque.militar.username}}</p></strong>
        </div>
    </div>
    </div>
    <div class="container d-flex mt-4"> 
      <div>
        <img class="px" src="{% static 'dados.gif'%}" alt="">
        </div>
      <div class="ms-2">
      <h3>Informações</h3>
      </div>
    </div>
    <form class="input-group mt-3" method="get">
        <input class='form-control' type="text" name="q" placeholder="Pesquisar por nickname">
        <button class=" btn text-light" style="background:#2C4C00;" type=" submit">
            <i class='icon'>
                <img width="35px" src="{% static "lupa.gif" %}" alt="">
              </i></button>
    </form>
    <div class="card mt-3" style="background-color: #2C4C00;">
      <div class="mt-2 mb-2 list-group list-group-flush text-center rounded m-auto col-10">
        <li class="list-group-item">Total de ações: 
            <span class="badge text-bg-dark text-light rounded-pill">{{ total }}</span></li>
    </div>
    <hr class="text-light m-auto col-10">
    <div class="m-auto mt-3 mb-3">
    <li class='list-group-item list-group m-1 rounded text-light' style="background: #2C4C00"><p>Faltam <span id="dias">{{ dias_falta }}</span> dias, <span id="horas">{{ horas_falta }}</span> horas, <span id="minutos">{{ minutos_falta }}</span> minutos e <span id="segundos">{{ segundos_falta }}</span> segundos até o ranking resetar.</p></li>
    {% for item in contador %}
    <li class="list-group-item text-center text-light mb-2" style="background: #2C4C00"> {{ item.treinamento }}: 
      <span class="badge text-bg-light  rounded-pill" style="background: #2C4C00">{{ item.total }}</span></li>
    {% endfor %}
    </div>
  </div>
  <div class="container d-flex mt-4"> 
    <div>
      <img class="px" src="{% static 'trofeu.png'%}" alt="">
      </div>
    <div class="ms-2">
    <h3>Ranking</h3>
    </div>
  </div>
  {% if ranking %}
  {% for item in ranking %}
  <div class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none" style="background-color: {% if forloop.counter == 1 %}gold{% elif forloop.counter == 2 %}silver{% elif forloop.counter == 3 %}#cd7f32 {% else %}#2C4C00{% endif %};" href="">
    <div class="d-flex">
        <div class="col-2">
            <div class="ms-5 rounded-circle m-auto px" style="background: url({% if forloop.counter == 1 %}{% static 'primeiro.gif'%}{% elif forloop.counter == 2 %}{% static 'segundo.gif'%}{% elif forloop.counter == 3 %}{% static 'terceiro.gif'%}{% endif %}) center center no-repeat; width: 60px; height: 60px;">	
            </div> 
        </div>
        <div class="text-light col-10">
            <p class="text-center me-4 mt-3">{{ item.treinador_nick }} <span class="badge text-bg-light  rounded-pill">{{ item.total_palestras }}</span>
            </p>
        </div>
    </div>
</div>
  {% endfor %}
  {% else %}
  <div class="alert alert-success text-center m-auto mt-3">
    Ranking zerado!
  </div>
  {% endif %}
    </div>
</div>
</div>
{% endblock main %}