{% extends "BaseSite.html" %}
{% load static %}

{% block header %}
<title>{{perfil.username}} - Exército Brasileiro - Habbo Hotel ©</title>
<link rel="icon" type="img/x-icon" href="{% static 'aberto.gif'%} ">
{% endblock header %}

{% block topo %}
<div class="container d-flex mt-3">
    <div>
        <img src="{% static 'busca.gif'%}" alt="">
    </div>
<div class="ms-2 text-light">
<h3>Perfil</h3>
<p>{{perfil.patente}} - {{perfil.username}}</p>
</div>
</div>
{% endblock topo %}

{% block main %}
<div class="card mb-3 m-2" style="background: #467c00">
    <div class="container m-auto">
        <div class=" col-md-10 mb-3 mt-3 m-auto col-12 ">
            <div class="card m-1" style='background:#2C4C00;'>
                <div class="row">
                <div class="col-md-4 col-4 text-center">
                    <img class="px" width="140px" src="http://www.habbo.com.br/habbo-imaging/avatarimage?&user={{ perfil.username }}&action=std&direction=2&head_direction=3&img_format=png&gesture=sml&frame=1&headonly=0&size=l" style="position: relative; top: -20px; " alt="...">
                </div>
                    <div class="m-auto col-md-8 col-8">
                <ul class="list-group m-1">
                    <li class="list-group-item text-light border-0" style="background: #467c00">Patente: {{perfil.patente}}</li>
                    </ul>
                    {% if perfil.siglas %}
                                <ul class="list-group m-1" style="background: #467c00">
                                    <li class="list-group-item text-light border-0" style="background: #467c00">Sigla: {{ perfil.siglas }}</li>
                                </ul>
                            {% endif %}
                    <ul class="list-group m-1" style="background: #467c00">
                        <li class="list-group-item text-light border-0" style="background: #467c00">Status: {{perfil.status}}</li>
                        </ul>
                        <ul class="list-group m-1" style="background: #467c00">
                            <li class="list-group-item text-light border-0" style="background: #467c00">Data: {{perfil.data}}</li>
                            </ul>
                            <ul class="list-group m-1" style="background: #467c00">
                                <li class="list-group-item text-light border-0" style="background: #467c00">Responsável: {{perfil.responsavel_promocao}}</li>
                                </ul>
            </div>
        </div>
            </div>
        </div>
    </div>
</div>
<div class='row mb-3 col-12 m-auto'>
        {% if emblemas %}
        <div class="card col-md-6 col-11 m-auto" style="background: #467c00">
            <!-- <div class="container d-flex mt-4"> 
                <div>
                  <img class="px" width="13px" height="20.5px" src="{% static 'emblema.png'%}" alt="">
                  </div>
                <div class="ms-2">
                <4 cass="text-light">Emblemas</p>
                </div>
        </div> -->
        <div class="row mt-2">
            {% for emblema in emblemas %}
    <div class="card col-2 col-md-2 mb-3 m-1" style="background-color: #2C4C00;" alt="{{ emblema.emblema.titulo }}">
        <img src="{{ emblema.emblema.icone.url }}" class="m-auto mt-2 px" width="40px" alt="...">
      </div>
        {% endfor %}
        </div>
    </div>
        {% endif %}
        <div class="card m-2 col-md-5 col-11 m-auto" style="background: #467c00">
            <div class="card col-11 shadow m-auto m-2 mt-2"  style="background-color: #2C4C00;">
                <div class="d-flex m-1">
                <div class="card col-4 mt-1 mb-1" style="background-color: #467c00;">
                    <div class="rounded-circle m-auto px" style="background: url({% static 're.gif'%}) center center no-repeat; width: 40px; height: 40px;transform: scale(1);">	
                    </div> 
                </div>
                <div class="text-light col-8">
                    <p class="text-center mt-3 ms-3">RE's: {{re}}</p>
                </div>
            </div>
            </div>
            <div class="card col-11 shadow m-auto m-2 mb-2 mt-1"  style="background-color: #2C4C00;">
                <div class="d-flex m-1">
                <div class="card col-4 mt-2 mb-2" style="background-color: #467c00;">
                    <div class="rounded-circle m-auto px" style="background: url({% static 'relatorio.png'%}) center center no-repeat; width: 40px; height: 40px;transform: scale(1);">	
                    </div>             </div>
                <div class="text-light col-8">
                    <p class="text-center mt-3 ms-3">Treinamentos: {{treinamentos}}</p>
                </div>
            </div>
            </div>
        </div>
</div>
{% endblock main %}