{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="img/x-icon" href="{% static 'aberto.gif' %}">
    <title>Jornal Militar - Exército Turco Habbo Hotel ©</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>

            img {
            max-width: 100%;
            height: auto;
        }

        .px {
            image-rendering: pixelated;
            image-rendering: -o-crisp-edges;
            image-rendering: -moz-crisp-edges;
            image-rendering: crisp-edges;
          }
        .bg-pt {
            background-color: #93110e;
        }
        .bg-cubos {
            background-color: #467c00;
            background-image:  linear-gradient(30deg, #4a8100 12%, transparent 12.5%, transparent 87%, #4a8100 87.5%, #4a8100), linear-gradient(150deg, #4a8100 12%, transparent 12.5%, transparent 87%, #4a8100 87.5%, #4a8100), linear-gradient(30deg, #4a8100 12%, transparent 12.5%, transparent 87%, #4a8100 87.5%, #4a8100), linear-gradient(150deg, #4a8100 12%, transparent 12.5%, transparent 87%, #4a8100 87.5%, #4a8100), linear-gradient(60deg, #4a810077 25%, transparent 25.5%, transparent 75%, #4a810077 75%, #4a810077), linear-gradient(60deg, #4a810077 25%, transparent 25.5%, transparent 75%, #4a810077 75%, #4a810077);
            background-size: 60px 105px;
            background-position: 0 0, 0 0, 30px 53px, 30px 53px, 0 0, 30px 53px;
        }
    </style>
</head>
 <body class='bg-cubos'>
    <nav class="navbar bg-pt">
        <div class="container-fluid col-10">
          <a class="navbar-brand text-light ms-2" href="{% url "JornalAlemao" %}">⤣ Voltar</a>
        </div>
      </nav>
      <div class="container mt-3 m-auto">
        <div class='row'>
            <div class="mt-5 m-auto col-11 col-md-7">
                  <div class="card col-12 mb-3">
                    <img src="{{ postagem.imagem.url }}" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">{{postagem.titulo}}</h5>
                      <p class="card-text">{{postagem.descricao}}</p>
                      <p class="card-text"><small> Postado em {{postagem.datatime}} por {{postagem.solicitante.patente}} {{postagem.solicitante.username}}</small></p>
                    </div>
                  </div>
                  <div class="container card shadow mb-3">
                    <div class="container m-2 mt-3">
                        {{postagem.texto | safe }}
                    </div>
                  </div>
            </div>
            <div class='col-11 col-md-5 mx-auto mt-md-3'>
                <div class="container d-flex mt-4">
                    <div>
                      <img class="px" src="{% static 'categorias.gif'%}" alt="">
                      </div>
                    <div class="ms-2 text-light">
                    <h3>Categorias</h3>
                    <p>Seja bem-vindo ao Jornal Turco!</p>
                    </div>
                  </div>
                  <div class="container mt-3 m-auto">
                    <a class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none" style="background-color: #93110e" href="">
                        <div class="d-flex">
                            <div class="col-4 mt-2 mb-2">
                                <div class="rounded-circle m-auto px" style="background: url({% static 'aposentados.gif'%}) center center no-repeat; width: 60px; height: 60px;">
                                </div>
                            </div>
                            <div class="text-light col-8">
                                <h5 class="text-center mt-4 me-5">Aposentadorias</h5>
                            </div>
                        </div>
                    </a>
                    <a class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none bg-pt" href="">
                        <div class="d-flex">
                            <div class="col-4 mt-2 mb-2">
                                <div class="rounded-circle m-auto px" style="background: url({% static 'medalha.gif'%}) center center no-repeat; width: 60px; height: 60px;">
                                </div>
                            </div>
                            <div class="text-light col-8">
                                <h5 class="text-center mt-4 me-5">Promoções</h5>
                            </div>
                        </div>
                    </a>
                    <a class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none " style="background-color: #93110e;" href="">
                        <div class="d-flex">
                            <div class="col-4 mt-2 mb-2">
                                <div class="rounded-circle m-auto px" style="background: url({% static 'calendario.png'%}) center center no-repeat; width: 60px; height: 60px;">
                                </div>
                            </div>
                            <div class="text-light col-8">
                                <h5 class="text-center mt-4 me-5">Inaugurações</h5>
                            </div>
                        </div>
                    </a>
                    <a class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none bg-pt" href="">
                        <div class="d-flex">
                            <div class="col-4 mt-2 mb-2">
                                <div class="rounded-circle m-auto px" style="background: url({% static 'formaturas.gif'%}) center center no-repeat; width: 60px; height: 60px;">
                                </div>
                            </div>
                            <div class="text-light col-8">
                                <h5 class="text-center mt-4 me-5">Formaturas</h5>
                            </div>
                        </div>
                    </a>
                    <a class="d-flex card col-lg-12 col-md-12 col-12 shadow m-auto mt-1 action-text text-decoration-none" style="background-color:#93110e;" href="">
                        <div class="d-flex">
                            <div class="col-4 mt-2 mb-2">
                                <div class="rounded-circle m-auto px" style="background: url({% static 'new.png'%}) center center no-repeat; width: 60px; height: 60px; transform:scale(2.0);">
                                </div>
                            </div>
                            <div class="text-light col-8">
                                <h5 class="text-center mt-4 me-5 ">Novidades</h5>
                            </div>
                        </div>
                    </a>
                  </div>
                  <div class="container d-flex mt-4">
                    <div>
                      <img class="px" src="{% static 'patrono.png'%}" alt="" width="36px" height="56">
                      </div>
                    <div class="ms-2 text-light">
                    <h3>Patrono</h3>
                    </div>
                  </div>
                  <div class="card col-12 col-md-10 shadow m-auto mt-2 bg-pt shadow">
                    <div class="d-flex m-1">
                    <div class="card mt-2 mb-2 shadow ms-3 bg-pt bg-opacity-50">
                        <div class="rounded-circle m-auto" style="background: url(https://www.habbo.com.br/habbo-imaging/avatarimage?img_format=png&user=Muzik&direction=2&head_direction=2&size=l&headonly=1) center center no-repeat; width: 80px; height: 80px;">
                        </div>
                    </div>
                    <div class="text-light text-center m-auto">
                        <strong><p class="text-center mt-2" style="font-size:20px;">Muzik</p></strong>
                    <strong><p class="text-center" style="position: relative; top: -10px; font-size:15px;"></p></strong>
                    </div>
                </div>
                </div>
            </div>
        </div>
      </div>
      <footer class="py-2 text-center bg-pt mt-3 shadow">
        <img src="{% static 'aberto.gif'%}" class="px m-auto mt-3" alt="..." width="80px" height="80px" >
        <hr class="text-light m-auto col-10 mt-3 mb-3">
        <p class="text-light col-10 m-auto mb-3">
          © 2024 Exército Turco Habbo - Marechal Muzik - Habbo.com.br. Desenvolvido por ,Natan.
      </p>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</body>
</html>
